{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Payment Failed" %} | Online Retail POS
{% endblock %}

{% block content %}
<div class="container h5 badge-danger text-uppercase text-center p-4 m-0">
    {% trans "Payment Failed" %}
</div>
<div class="row container text-uppercase text-center text-danger mt-5 p-0 pl-4">
    {% trans "Your Stripe payment could not be processed. Please try again or use a different payment method." %}
    <br>&nbsp;<br>{% trans "Transaction ID:" %} {{ transaction.transaction_id }}
</div>
<div class="row container p-0">
    <div class="col-lg-12" style="justify-content: center;text-align:center">
        <div class="container p-3 mt-5 pt-5">
            <a href="{% url 'start_stripe_payment' %}">
                <button class="btn-lg btn-warning mr-3" style="height: 100px; width: 250px;">
                    {% trans "Try Again" %}
                </button>
            </a>
            <a href="{% url 'register' %}">
                <button class="btn-lg btn-primary" style="height: 100px; width: 250px;">
                    {% trans "Back to Register" %}
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
